<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="about_content">
            <div class="about_content_text">
                <p>Hello there, My name is Edward and welcome to my website. 
                   I have worked previously as front end developer and served as the board and
                   co-founder of a start-up. I am a big movie lover and enjoy exercising
                   during my free time, mainly bouldering and swimming. Feel free to checkout
                   my github or shoot me an email.
                </p>
            </div>
        </div>
    </body>
</html>
