body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_content {
    margin: 150px auto;
    width: 50%;
    font-family: sans-serif;

    &_text p {
        font-size: 24px;
    }
}