<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="projects_content">
            <div class="project">
                <a href="https://github.com/edwzou/flash" target="_blank">
                    <div class="project-box">
                        <h2>flash</h2>
                    </div>
                </a>
            </div>

            <div class="project">
                <a href="https://github.com/edwzou/flash" target="_blank">
                    <div class="project-box">
                        <h2>insightUBC</h2>
                    </div>
                </a>
            </div>

            <div class="project">
                <a href="https://github.com/edwzou/spring-boot-application" target="_blank">
                    <div class="project-box">
                        <h2>My Spring Boot</h2>
                    </div>
                </a>
            </div>
        </div>
    </body>
</html>
