<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
        <div class="projects_content">
            <div class="project">
                <a href="https://github.com/edwzou/flash" target="_blank" class="project-link">
                    <div class="project-box bolt-icon">
                        <i class="fa-solid fa-bolt"></i>
                        <span class="icon-text">FLASH</span>
                    </div>
                </a>
            </div>

            <div class="project">
                <a href="https://github.com/edwzou/spring-boot-application" target="_blank" class="project-link">
                    <div class="project-box power-off-icon">
                        <i class="fa-solid fa-power-off"></i>
                        <span class="icon-text">SPRING BOOT</span>
                    </div>
                </a>
            </div>

            <div class="project">
                <a href="https://github.com/edwzou/NBA-League-Simulator" target="_blank" class="project-link">
                    <div class="project-box basketball-icon">
                        <i class="fa-solid fa-basketball"></i>
                        <span class="icon-text">NBA LEAGUE SIMULATOR</span>
                    </div>
                </a>
            </div>
        </div>
    </body>
</html>
