body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact_content {
    margin: 150px auto;
    width: 70%;
    padding: 6.5%;
    text-align: center;
    line-height: 25px;
    font-family: sans-serif;
}

a {
    font-size: 35px;
    color: lightgray;
    text-decoration: none;
    transition: 0.7s;
}
  
a:hover {
    color: black
}