<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="contact_content">
            <div class="contact_content_links">
                <a href="mailto: edwardzou10@gmail.com">EMAIL</a>
                <br>
                <br>
                <br>
                <a href="https://www.linkedin.com/in/edward-zou-0416a5188/">LINKEDIN</a>
                <br>
                <br>
                <br>
                <a href="https://github.com/edwzou">GITHUB</a>
            </div>
        </div>
    </body>
</html>