body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.homepage {
    margin: 150px auto;
    width: 70%;

    &_head {
        &_navbar {
            display: flex;
            justify-content: space-around;
            align-items: center;
            position: fixed;
            width: 100%;
            top: 8px;
            left: 0;
        }
    }

    &_body {
        &_text p {
            margin: 0;
            font-size: 16px;
            color: blueviolet;
        }
    
        &_text h2 {
            margin: 0;
            font-size: 48px;
            color: red;
        }
    
        &_image {
            max-width: 200px;
            max-height: 200px;
            float: left;
            border: 3px solid black;
            border-radius: 10px;
            margin-right: 16px;
        }
    }
}