body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_content {
    margin: 150px auto;
    width: 50%;
    font-family: sans-serif;

    &_text h2 {
        margin: 0;
        font-size: 64px;
        color: black;
    }

    &_text p {
        margin: 0;
        font-size: 20px;
        color: grey;
    }
  
    &_image {
        max-width: 200px;
        max-height: 200px;
        float: left;
        border: 2px solid black;
        border-radius: 10px;
        margin-right: 16px;
    }
    
}