<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="home_content">
            <!--<img class="home_content_image" 
            src="https://mtdata.ru/u7/photo53A0/20946911428-0/original.jpg#20946911428">-->
            <img class="home_content_image" src="assets/home_photo.jpg">
            <div class="home_content_text">
              <h2>Edward Zou</h2>
              <br>
              <br>
              <p>Hello there, I am currently a 4th year student studying full time at University of British Columbia
                majoring in computer science.
              </p>
            </div>
          </div>
    </body>
</html>
