<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="home_content">
            <img class="home_content_image" src="assets/home_photo.jpg">
            <div class="home_content_text">
              <br>
              <br>
              <h2>Edward Zou</h2>
              <p>4th year student at University of British Columbia
                majoring in computer science
              </p>
            </div>
          </div>
    </body>
</html>
